body {
  background: rgb(35, 49, 65)
  /* background: linear-gradient(333deg, rgba(13,11,182,0.8099614845938375) 0%, rgba(255,255,255,1) 89%, rgba(255,255,254,0.11528361344537819) 100%); */
}

.particle-js {
  position: "absolute";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%"
}

.container {
  width: 600px;
  min-height: 600px;
  /* background-color: #b300b3; */
  margin: 3rem auto;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;

}

#work_time {
  flex: 1;
  width: 100%;
  margin: auto auto;
  box-sizing: border-box;
  padding: 3rem;
  padding-bottom: 0;
  z-index: 1;
}

#break_time {
  width: 100%;
  flex: 1;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1;
}


.timer {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1rem solid rgb(255, 230, 255, 0.2);
  border-radius: 5rem;
  padding: 1rem;
}

.timer h1 {
  font-size: 7rem;
  margin: 0 auto;
  color: #eef2f6;
}


.break_timer {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.break_timer h3 {
  font-size: 2.5rem;
  padding: 1rem;
  margin: 0rem;
  color: #eef2f6;
  border: 0.2rem solid rgb(255, 230, 255, 0.2);
  border-radius: 1rem;
}

.btn {
 width: auto;
 height: 40px;
 background-color: #0e1c2e;
 color: #acbed2;
 border: 2px solid transparent;
 border-right: 1px solid #fff;
 text-transform: uppercase;
}
.btn:nth-child(3){
  border-right: 0;
}
.fa {
  background-color: transparent;
  border: 0;
}

#angle_up {
  width: 2rem;
  height: auto;
}
#angle_up:hover {
  cursor: pointer;
}
.start {
  margin-bottom: 1rem;
  border-right: 0;
}
.btn:hover {
  cursor: pointer;
}
.break_icon{
  width: 1rem;
}
.break_icon:hover {
  cursor: pointer;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
