body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

.container {
  width: 600px;
  min-height: 600px;
  background-color: #b300b3;
  margin: 3rem auto;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;

}

#work_time {
  flex: 1;
  width: 100%;
  margin: auto auto;
  box-sizing: border-box;
  padding: 3rem;
  padding-bottom: 0;
}

#break_time {
  width: 100%;
  flex: 1;
  margin: 0 auto;
  box-sizing: border-box
}


.timer {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.timer h1 {
  font-size: 7rem;
  margin: 0 auto;
  color: #ffe6ff;
}

.timer h3 {
  text-align: right;
}

.break_timer {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.break_timer h3 {

}

.btn {
 width: auto;
 height: 40px;
 background-color: blueviolet;
 color: #ffe6ff;
 border: 4px solid #ffe6ff;
 text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
