body {
  background: rgb(13,11,182);
  background: linear-gradient(333deg, rgba(13,11,182,0.8099614845938375) 0%, rgba(255,255,255,1) 89%, rgba(255,255,254,0.11528361344537819) 100%);
}

.container {
  width: 600px;
  min-height: 600px;
  /* background-color: #b300b3; */
  margin: 3rem auto;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;

}

#work_time {
  flex: 1;
  width: 100%;
  margin: auto auto;
  box-sizing: border-box;
  padding: 3rem;
  padding-bottom: 0;
}

#break_time {
  width: 100%;
  flex: 1;
  margin: 0 auto;
  box-sizing: border-box
}


.timer {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1rem solid rgba(255,154,0,0.11528361344537819);
  border-radius: 5rem;
  padding: 1rem;
}

.timer h1 {
  font-size: 7rem;
  margin: 0 auto;
  color: #ffcc00;
}


.break_timer {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.break_timer h3 {
  font-size: 2.5rem;
  padding: 0;
  margin: 1rem;
  color: #ffcc00;
}

.btn {
 width: auto;
 height: 40px;
 background-color: blueviolet;
 color: #ffe6ff;
 border: 4px solid #ffe6ff;
 text-transform: uppercase;
}
.fa {
  background-color: transparent;
  border: 0;
}

#angle_up {
  width: 2rem;
  height: auto;
}
#angle_up:hover {
  cursor: pointer;
}
.start {
  margin-bottom: 1rem;
}
.btn:hover {
  cursor: pointer;
}
.break_icon{
  width: 1rem;
}
.break_icon:hover {
  cursor: pointer;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
